*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.properties
*.bat
.gitignore.swp
.local.properties
linearlayout/proguard-rules.pro
linearlayout/build/
linearlayout/libs/
linearlayout/*.iml
linearlayout/*.gradle
linearlayout/*.pro
linearlayout/src/androidTest/
linearlayout/src/test
constraintlayout/proguard-rules.pro
constraintlayout/build/
constraintlayout/libs/
constraintlayout/*.iml
constraintlayout/*.gradle
constraintlayout/*.pro
constraintlayout/src/androidTest/
constraintlayout/src/test
tablelayout/proguard-rules.pro
tablelayout/build/
tablelayout/libs/
tablelayout/*.iml
tablelayout/*.gradle
tablelayout/*.pro
tablelayout/src/androidTest/
tablelayout/src/test


